<blockquote>
  <strong>Comment:</strong>
  <%= comment.body %>
  <footer>Commenter: <%= comment.commenter %></footer>
</blockquote>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment], 
              method: :delete, 
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-default' %>
</p> 