<%= render @article %>

<h2>Comments</h2>

<div id="comments">
    <%= render @article.comments %>
</div>

<h2> Add a comment: </h2>
<%= render "comments/form" %>

<%= link_to 'Back', articles_path, class: 'btn btn-default' %>